@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Lato', sans-serif;
}

a,
button {
  transition: opacity 0.25s;
}

a:hover,
button:hover {
  opacity: 0.6;
}

ul.list-disc,
ol.list-decimal {
  padding-left: 1.25em;
}

q {
  display: block;
  position: relative;
  margin: 0 auto;
  @apply max-w-screen-sm;
}

q::before,
q::after {
  font-family: 'Work Sans';
  font-size: 4em;
  position: absolute;
}

q::before {
  content: '“';
  @apply text-green-300 top-6 left-4;
}

q::after {
  content: '”';
  @apply text-green-300 bottom-0 right-4;
}

q > div {
  @apply max-w-screen-sm bg-green-100 py-8 pl-14 pr-12;
}
